@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Great+Vibes&display=swap');


.great-vibes-regular {
    font-family: "Creepster";
    font-weight: 400;
    font-style: oblique;
    letter-spacing: 1px;
    color: #fff;
    font-size: 22px;
}